/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Altura completa */
html, body {
  height: 100%;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

/* Layout principal */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  background: #222;
  color: white;
  padding: 2rem;
  text-align: center;
}

/* Main crece para empujar el footer */
main {
  flex: 1;
}

/* Contenido */
.container {
  padding: 2rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* Tarjetas */
.card {
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card h3 {
  margin-bottom: 0.5rem;
}

.card p {
  margin-bottom: 1rem;
  color: #555;
  line-height: 1.6;
}

.tech {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 0.85rem;
  color: #777;
}
/* Footer siempre abajo */
.footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 1rem;
}

.card-image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
}

/* Video */
.card-video {
  width: 100%;
  border-radius: 8px;
}
